body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  height: 140px;
  width: 100%;
  background-color: white;
}

.nav-bar ul {
  float: right;
}

.nav-bar ul li {
  list-style: none;
  display: inline;
  position: relative;
  top: 45px;
  padding: 20px;
  font-family: "Chilanka", cursive;
  font-size: 28px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 180px;
  margin: 0;
  padding: 0;
}

.logo {
  width: 500px;
  height: 145px;
  margin-left: 23px;
  position: relative;
  top: -10px;
  padding: 3px;
}

.row1 {
  display: flex;
}

.column1 {
  /* background-image: url("./Photos/Catering/background\ mac.jpg"); */
  width: 100vh;
}

.column2 {
  display: flex;
  align-items: center;
}

.column2-contents {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  vertical-align: baseline;
  padding-left: 120px;
}

.title-catering {
  color: #594a47;
  font-size: 44px;
  font-family: "Chilanka", cursive;
  font-weight: bold;
}

.subtitle-catering {
  color: #594a47;
  font-size: 24px;
  font-family: "Chilanka", cursive;
}

.more-info {
  padding: 15px;
  font-size: 20px;
  background-color: #ffe0e9;
  font-family: "Chilanka", cursive;
  text-transform: uppercase;
}

.box-message {
  padding-top: 140px;
  padding-bottom: 80px;
}

.form-adjustment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catering-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 60px;
  margin: 80px;
  background-color: #ffe0e9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.request {
  color: #594a47;
  font-size: 38px;
  font-family: "Chilanka", cursive;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.call-us {
  color: #594a47;
  font-size: 26px;
  font-family: "Chilanka", cursive;
  text-align: center;
}

#title-labels {
  font-size: 18px;
  color: #594a47;
  font-family: "Chilanka", cursive;
  text-align: center;
  padding: 10px;
}

#fname {
  padding: 15px;
  width: 500px;
}

#lname {
  padding: 15px;
  width: 500px;
}

#email {
  padding: 15px;
  width: 500px;
}

#type-of-event {
  padding: 15px;
  width: 500px;
}

#date-of-event {
  padding: 15px;
  width: 500px;
}

#message {
  padding: 15px;
  width: 500px;
  height: 250px;
}

.container-message {
  position: relative;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  vertical-align: baseline;
}

.catering-message {
  color: #594a47;
  font-size: 24px;
  font-family: "Chilanka", cursive;
  text-align: center;
}

/*Footer line*/

footer {
  background: #ffe0e9;
  color: #594a47;
  height: 350px;
  position: relative;
}

footer .footer-content {
  height: 300px;
  display: flex;
}

footer .footer-content .footer-section {
  flex: 1;
  padding: 15px;
  border: 1px solid white;
}

footer .footer-content .footer-section-about {
  position: relative;
  align-items: center;
  padding-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  width: 600px;
  font-family: "Chilanka", cursive;
}

h2 {
  margin-top: 30px;
  font-size: 30px;
  text-align: left 8px;
}

.footer-section-links nav ul {
  display: block;
  position: relative;
  top: 10px;
  padding: 0px;
  font-family: "Chilanka", cursive;
  font-size: 22px;
  margin-right: 450px;
}

.footer-section-links nav ul li a {
  color: black;
  text-decoration: none;
}

.footer-section-contact {
  box-sizing: border-box;
  height: 290px;
  border-color: #594a47;
}

.contact-us {
  margin-top: 30px;
  margin-bottom: 13px;
}

.container {
  border: #594a47 solid 1px;
  border-radius: 10px;
  padding-left: 15px;
  padding-bottom: 7px;
  padding-top: 3px;
  width: 480px;
}

#title-labels {
  font-size: 18px;
  color: #594a47;
  font-family: "Chilanka", cursive;
  text-align: center;
  padding: 10px;
}

#footer-fname {
  width: 300px;
  margin: 5px;
  border-radius: 5px;
  border: #594a47 solid 1px;
}

#footer-lname {
  width: 300px;
  margin: 5px;
  border-radius: 5px;
  border: #594a47 solid 1px;
}

#footer-email {
  width: 300px;
  margin: 5px;
  border-radius: 5px;
  border: #594a47 solid 1px;
}

#footer-comment {
  padding-top: 0px;
  width: 450px;
  height: 100px;
  border-radius: 5px;
  border: #594a47 solid 1px;
}

button [type="button"] {
  padding: 20px;
  width: 0px;
  display: inline-block;
  text-align: center;
}

footer .footer-bottom {
  background: #fcc5d4;
  color: #f87399;
  height: 50px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .nav-bar ul li {
    font-size: 20px;
  }
}

/*This is how you make a comment in css dumb*/
/*Media quairy is a way for you to adjust you things to fit other devices like ipad or phone.*/
